.announcement-list {
  list-style-type: none;
  padding: 0;
  margin: 16px 0;
}

.announcement-list li {
  margin-block-end: 1.5rem;
  
  transition: background-color 0.3s;
  color: #000000;
}

.announcement-list li:hover {
  background-color: #d6d6d6;
}

.announcement-header {
  color: #000000;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.announcement-list > li {
  display: flex;
  flex-direction: column;
}

.announcement-actions {
  margin-top: 10px;
  align-self: flex-end;  /* This will push the .announcement-actions to the right */
  display: flex; /* This ensures the buttons inside also line up horizontally */
}
.announcement-actions button {
  margin-inline-end: 1rem;
}

.announcement-list li p:nth-child(2) {
  font-size: 0.8rem;
}

.announcement-list li p:nth-child(3) {
  font-size: 1.2rem;
}
