.announcement-list {
  list-style-type: none;
  padding: 0;
  margin: 16px 0;
}

.announcement-list li {
  margin-block-end: 1.5rem;
  border-bottom: 1px solid #444;
  transition: background-color 0.3s;
  color: #e6e6e6;
}

.announcement-list li:hover {
  background-color: #333;
}

.announcement-header {
  color: #ef8d49;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.announcement-actions {
  margin-top: 10px;
}

.edit-btn,
.delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-weight: 300;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.edit-btn {
  background-color: #ef8d49;
  color: #1f1f1f;
}

.edit-btn:hover {
  background-color: #d5752b;
}

.delete-btn {
  background-color: #d43f00;
  color: #e6e6e6;
}

.delete-btn:hover {
  background-color: #b23300;
}
.announcement-list li p:nth-child(2) {
  font-size: 0.8rem;
}

.announcement-list li p:nth-child(3) {
  font-size: 1.3rem;
}
