.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This will ensure everything is aligned vertically in the middle */
  padding: 10px 0;     /* Add some vertical padding for space */
}

.file-item button {
  width: auto;
  margin-left: 20px; /* Add some space to the left of the button */
}


.file-description {
  flex: 1; /* This will ensure the content takes up the maximum available space */
}
