.calendar-days,
.hour-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.day-block,
.hour-block {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.day-block:hover,
.hour-block:hover {
  background-color: #9f89ff;
}
.day-block.selected,
.hour-block.booked {
  background-color: #9f89ff;
  cursor: not-allowed;
}
.hour-block {
  background-color: #dec5ff;
}
.hour-selection {
  position: relative;
}
.centered-button {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* optional: add some space between the button and other elements */
}