.calendar-view {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.hour-block {
  width: 40px; /* Adjust width as per your design preference */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: 1px solid #444;
  cursor: pointer;
}

.hour-block.booked {
  background-color: #444;
  background-color: #ef8d49;
}
